<div class="navbar">
  <div class="links">
    <% if user_signed_in? %>
      <%= current_user[:first_name] + " " + current_user[:last_name]%>
    <% end %>
    <% if user_signed_in? %>
      <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
    <% else %>
      <p><%= link_to "Sign In", new_user_session_path %></p>
    <% end %>
  </div>
</div>
